$body-color: #181A1B;
$bg-color: #2f2f2f;
$text-prymary-color: white;
$link-color: #dbdbdb;
$link-hover-color: #a46628;
$link-light-orange: rgb(164, 102, 4,.80);

$hero-fontsize: 8rem;

$contents: (1 : '   email me!', 2 : '   /gabriele-amore', 3 :'   @gabbobazinga',  4 :'   download it!');

